In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Read BLS Employment
bls_employment_csv = Path("./source/bls_employment.csv")

bls_employment_df = pd.read_csv(bls_employment_csv)

bls_employment_df.head()

   county_fips  year  bls_labor_force  bls_employed
0         1001  2020            26350         24955
1         1003  2020            98695         92639
2         1005  2020             8659          7995
3         1007  2020             8692          8063
4         1009  2020            25065         23944

In [3]:
# Read BEA Income Population
bea_income_population_csv = Path("./source/bea_income_population.csv")

bea_income_population_df = pd.read_csv(bea_income_population_csv)

bea_income_population_df.head()

   county_fips  year  bea_total_income  population
0         1001  2020        2659457000       58902
1         1001  2021        2896204000       59210
2         1001  2022        2951555000       59759
3         1003  2020       11947762000      233219
4         1003  2021       13371784000      239361

In [4]:
# Merge DataFrames
county_metric_df = pd.merge(bea_income_population_df, bls_employment_df)

county_metric_df.head()

,county_fips,year,bea_total_income,population,bls_labor_force,bls_employed
0,1001,2020,2659457000,58902,26350,24955
1,1001,2021,2896204000,59210,26429,25698
2,1001,2022,2951555000,59759,26656,26065
3,1003,2020,11947762000,233219,98695,92639
4,1003,2021,13371784000,239361,99520,96619

In [5]:
# Save to file
county_metric_df.to_csv(Path("./source/county_metric.csv"), index=False, header=True)